* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #85ffbd;
  background-image: linear-gradient(
    45deg,
    #85ffbd 0%,
    #fffb7d 50%,
    #ffffff 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  grid-gap: 2rem;
  perspective: 800px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 1.5s ease;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.back {
  background: white;
  backface-visibility: hidden;
}

.toggleCard {
  transform: rotateY(180deg);
}

.face {
  transform: rotateY(-180deg);
}
